@import "tailwindcss";

/* #divisoes-title {
    font-family: 'Oswald', sans-serif;
} */

#oracoes-title, #evangelho-title, #divisoes-title, #sinal-cruz, #oferecimento, #credo, #pai-nosso, #agr, #sr, #ave-maria, #gozosos, #luminosos, #gloriosos, #dolorosos, #gloria, #salve {
    font-family: "Merriweather", serif
}

#title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
}