@import "tailwindcss";

/*@font-face {
    font-family: 'Alex Brush';
    src: url(/fontes/AlexBrush-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Cinta Sehatti';
    src: url(/fontes/CintaSehatti.otf);
    font-weight: normal;
    font-style: normal;
}

#oracoes-title,
#tittle-oracao,
#menuNav,
#evangelho-title,
#divisoes-title,
#sinal-cruz,
#oferecimento,
#agr,
#sr,
#gozosos,
#luminosos,
#gloriosos,
#dolorosos,
#gloria,
#salve {
    font-family: "Merriweather", serif;
}

#title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Cinta Sehatti';
}

#title2 {
    font-family: 'Alex Brush';
}